<div class="modal fade" id="sold_out_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= "#{pluralize(@quantity, 'Order')} of #{@product.name}" %></h4>
      </div>
      <div class="modal-body">
        <%= form_for @customer, remote: true, html: { class: "form_horizontal", role: "form"} do |customer| %>
          <div class="form-group clearfix">
            <h4 class="col-sm-2">Name:</h4>
            <div class="col-sm-5">
              <%= customer.text_field :first_name, class: "form-control", 
                                                   id:"fn", 
                                                   placeholder: "First Name" %>
            </div>
            <div class="col-sm-5">
              <%= customer.text_field :last_name, class: "form-control", 
                                                  id: "fn", 
                                                  placeholder: "Last Name" %>
            </div>
          </div>
          <div class="form-group clearfix">
            <h4 class="col-sm-2">Zip:</h4>
            <div class="col-sm-10">
              <%= customer.text_field :zip, class: "form-control",
                                            id:"add", 
                                            placeholder: "Zip Code" %>
            </div>
          </div>
          <div class="form-group clearfix">
            <%= customer.fields_for :orders do |order| %>
              <h4 class="col-sm-2">Comments:</h4>
              <div class="col-sm-9 col-sm-offset-1">
                <%= order.text_area :comments, class:"form-control",
                                               rows: "3",
                                               id: "comm" %>
                <%= order.hidden_field :quantity, value: @quantity %>
                <%= order.hidden_field :product_id, value: @product.id %>
              </div>
            <% end %>
          </div>
          <div class="modal-footer">
            <div class="col-sm-5">
              <p>*Free Standard Shipping</p>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= customer.submit "Checkout", class:"btn btn-danger", id:"review" %>
          </div>
      <% end %>
        <div id="email_customer" class="form-horizontal form-view hidden">We apologize, we are currently back-ordered. Please subscribe below to be placed on the waiting list! We promise the only email you will receive is when we are ready to ship your flour.</h5>
          <div class="mc-field-group input-group col-md-8"><span class="input-group-addon">@</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

