<div class="col-md-4">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-tag"></span>
         <%= product.name %> 
      </h3>
    </div>
    <div class="panel-body">
      <%= image_tag "product_bg.jpg", class:"img-responsive img-thumbnail" %>
      <h5><%= simple_format(product.description) %></h5>
      <h5>$<%= product.price %></h5>
      <%= form_tag customers_new_path, method: :put, class: "form-inline", role:"form", remote: true do %>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">Qty:</div>
            <%= select_tag :quantity, options_for_select(1..5), class:"form-control" %>
            <%= hidden_field_tag :product_id, product.id %>
            <%= button_to  class: "btn btn-default", data: {toggle: "modal", target:"#sold_out_modal"} do %>
              <b class="glyphicon glyphicon-shopping-cart"></b> Pre-order 
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

